<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <div class="footercolumn1">
                    <h2>Acerca de</h2>
                    <p>Quiemes Somos</p>
                    <p>Trabaja con Nosotros</p>
                    <p>Terminos y Condiciones</p>
                    <p><i class="fas fa-solid fa-location-pin"></i>Tiendas</p>
                </div>
                <div class="footercolumn2">
                    <h2>Ayuda</h2>
                    <p>Cambios y Devoluciones</p>
                    <p>Metodos de Pago</p>
                    <p>Seguimientos de Pedidos</p>
                </div>
                <div class="footercolumn3">
                    <h2>Atención al Cliente</h2>
                    <p><i class="fas fa-solid fa-envelope"></i>Contactos</p>
                    <p><i class="fa fa-brands fa-whatsapp"></i>WhatsApp</p>
                    <p><i class="fas fa-solid fa-headset"></i>0810-777-0000</p>
                </div>
                <div class="footercolumn4">
                    <h2>NEWSLETTER</h2>
                    <p>Suscribite y recibe correos personalizados con tus intereses</p>
                    <form class="search" action= "http://localhost:3030/home/search" method="GET" role="search">
                        <button type="submit" class="nav-email" tabindex="4"><i class="fas fa-solid fa-at"></i></button>
                        <input type="text" name= "mailBar" placeholder="Ingresar su email..">
                    </form>
                </div>
            </div>
            <div class="redes">
                <h6>Seguinos en nuestras redes</h6>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 Sportix - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>