<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<title>REGISTRO</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="search">
                <input type="text" placeholder="Buscar productos, marcas y más..">
                <a href="#">
                    <i class="fa fa-search"></i>
                </a>
            </div >
            <p class="title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="category">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class=" fas fa-thin fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-solid fa-user"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-solid fa-basket-shopping"></i></a></li>
                
            </ul>
        </nav>  
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner">
    </section>
    <main>
    <section class="forms-desing">
        <form action="register" method="POST">
            <p>
                <input class="bar-info" type="text" name="nombre" id="nombre" placeholder= "Nombre y apellido" required>
            </p>
            <p>
                <input class="bar-info" type="text" name="usuario" id="usuario" placeholder= "Nombre de Usuari@" required>
            </p>
            <p>
                <h4>Fecha de Nacimiento</h4>
                <input class="bar-info" type="date" name="fecha" value="" min="2004-01-01" max="2022-12-31" required>
            </p>
            <p>
                <input class="bar-info" type="text" name="domicilio" id="domicilio" placeholder= "Domicilio" required>
            </p>
            <p>
                <h4>Perfil del Usuario</h4>
                    <ul>
                        <li>
                          <label for="Opcion1">
                            <input type="radio" id="Opcion1" name="perfil" value="Comprador" >
                            Comprador
                          </label>
                        </li>
                        <li>
                          <label for="Opcion2">
                            <input type="radio" id="Opcion2" name="perfil" value="Vendedor">
                            Vendedor
                          </label>
                        </li>
                    </ul>
            </p>
            <p>
                <h4>Intereses</h4>
                    <ul class="checkbox-intereses">
                        <li>
                          <label for="checkboxHobby">
                            <input type="checkbox" id="Opcion1" name="hobby" value="Electro" >
                            Electro
                          </label>
                        </li>
                        <li>
                          <label for="checkboxHobby">
                            <input type="checkbox" id="Opcion2" name="hobby" value="Moda">
                            Moda
                          </label>
                        </li>
                        <label for="checkboxHobby">
                            <input type="checkbox" id="Opcion3" name="hobby" value="Hogar" >
                                Hogar
                          </label>
                        </li>
                        <li>
                            <label for="checkboxHobby">
                              <input type="checkbox" id="Opcion4" name="hobby" value="Jugueteria">
                                Jugueteria
                            </label>
                          </li>
                        <li>
                          <label for="checkboxHobby">
                            <input type="checkbox" id="Opcion5" name="hobby" value="Vida Sana">
                                Vida Sana
                          </label>
                        </li>
                    </ul>
            </p>
            <p>
                <h4>Seleccion Imagen Perfil:</h4>
                <input type="file" name="avatar" accept=".jpg" multiple>
            </p>
            <p>
                <input class="bar-info" type="password" name="password" id="password" placeholder= "Contraseña" required>
            </p>
            <p>
                <input class="bar-info" type="password" name="password" id="password" placeholder= "Confirmar Contraseña" required>
            </p>
            <button type="submit">ENVIAR</button>
            <button type="reset">Limpiar Contenido</button>
        </form>
    </section>
    </main>
    <footer>
        <div class="fotter">
            <div class="items">
                <div class="iconos">
                    <i class="fas fa-solid fa-money-check"></i>
                </div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="items">
                <div class="iconos">
                    <i class="fas fa-solid fa-gift"></i>
                </div>
                <h3>Envío gratis desde $ 2.5000</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="items">
                <div class="iconos">
                    <i class="fas fa-solid fa-user-shield"></i>
                </div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                
            </div>
            
            

        </div>
        <div>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </div>
    </footer>
    
</body>
</html>