<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/error.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <title>ELIMINANDO</title>

</head>
<body>
	<% for(let dato of resultado) { %> 
		<div class="popup">
				<div class="upper">Esta SEGURO que quiere eliminar → "<%= dato.name %>" ?</div>
				<div class="stroke"></div>
				<div class="lower">
				<form method="POST" action="/products/delete/<%=dato.id %>?_method=DELETE">
					<button class="button"><i class="icon-large icon-ok"></i>SI</button>
				</form>
				<a href="/products"><button class="button"></buttonclass><i class="icon-large icon-remove"></i>Volver hacia Atras</button></a>
				</div>
		</div>
	<% } %>
</body>

</html>