<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/terms.css">
    <%- include('../partials/head.ejs') %>
    <title>Términos y Condiciones</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
 
    <main class="profile">
      <section class="container">
        <h1>Términos y Condiciones</h1>
        <hr class="separador">
        
        <h3>Condiciones Generales:</h3>
        <p>Este contrato describe los Términos y Condiciones Generales (en adelante, los “Términos y Condiciones”) que se aplicarán para la navegación del sitio web www.stockcenter.com.ar, y los servicios ofrecidos en él (en adelante, el “website”).</p>
      
        <h3>Aceptación y conocimiento de los Términos y Condiciones:</h3>
        <p>Cualquier persona (en adelante, “Usuario” o en plural “Usuarios”) que desee acceder y/o utilizar el website o sus servicios, podrá hacerlo sujetándose a los Términos y Condiciones, junto con todas las demás políticas y principios que rigen, y que son incorporados al presente.

            Los presentes Términos y Condiciones tienen carácter obligatorio y vinculante para las partes. Se aplican a todas las compras y actividades realizadas en el website. El uso del website implica el conocimiento y la aceptación de todos ellos.
            
            Las personas que no acepten estos Términos y Condiciones, los cuales tienen carácter vinculante y obligatorio, se deberá abstener de utilizar el sitio web.</p>

        <h3>Modificación de los Términos y Condiciones:</h3>
        <p>DABRA se reserva el derecho de modificar los Términos y Condiciones en cualquier momento, haciéndolos público en el website, y pondrá un aviso alertando a los Usuarios que así lo requieran en la suscripción, informando las modificaciones que pudiera sufrir, durante un tiempo razonable. Sin perjuicio de lo anterior, los Usuarios son responsables de leer estos Términos y Condiciones cada vez que ingresen al website para ver si han sufrido modificaciones.

            Todo Usuario que no se encuentre de acuerdo con las modificaciones sufridas, tendrá la posibilidad de solicitar la baja del sitio.</p>

        <h3>Registración:</h3>
        <p>El cliente debe registrarse y crear un nuevo usuario dentro del sitio con sus datos personales para poder realizar compras. Deberá ingresar nombre completo, DNI, fecha de nacimiento, género, teléfono y mail. Asimismo, se le pedirá que genere una clave personal para poder ingresar cada vez que así lo requiera a su usuario personal. Además, deberá aceptar las políticas de privacidad del sitio y optar si quiere recibir emails promocionales en su casilla.

            El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones y en las Políticas de Privacidad, así como también en los demás documentos incorporados a los mismos por referencia, optando de forma expresa por recibir los mismos y toda otra información por medios digitales.
            
            Los Usuarios pueden navegar libremente por el website. Sin embargo, para realizar una compra deberán ingresar y completar en todos los campos, cada uno de los datos requeridos por el website en el formulario que les aparecerá al momento del checkout, con los datos solicitados. El Usuario asume la responsabilidad de modificarlos, cada vez que lo considere necesario o así lo solicite.
            
            Es obligatorio completar el formulario en todos los campos con datos válidos y verdaderos, de manera exacta y precisa. Para un correcto funcionamiento del sistema, es necesario que los Usuarios mantengan sus datos actualizados. DABRA podrá proceder a verificar la identidad del Usuario y/o de los datos consignados por éste en cualquier momento. DABRA no se responsabiliza por la veracidad o certeza de los datos provistos por los Usuarios. Asimismo, DABRA se reserva el derecho de suspender temporal o definitivamente a los Usuarios en caso de incumplimiento de los Términos y Condiciones, como así también de rechazar solicitudes.
            
            La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una cuenta.
            
            En el caso de que estos datos sean olvidados por el Usuario, DABRA cuenta con un servicio de ayuda para recuperarlos. Para esto se deberá hacer click en la opción correspondiente e ingresar el e-mail que se proporcionó al momento de la registración. Al finalizar, el sistema le enviará de manera confidencial a esa cuenta de mail su nombre de Usuario y la clave personal.
            
            DABRA se compromete a mantener la confidencialidad de los datos aportados por los Usuarios para su registro, los Usuarios se comprometen a mantener la confidencialidad de su nombre/ Usuario y su clave de acceso. De conformidad con lo expresado en el párrafo anterior, los Usuarios son responsables del uso que se haga de su clave y deberán tener presente que si otras personas tienen o pueden tener en el futuro acceso a la cuenta de e-mail consignada como propia en el formulario de registración, éstas también podrían solicitar su clave de acceso y nombre de Usuario. Es obligación exclusiva del Usuario tomar las medidas pertinentes para que esto no suceda. El Usuario garantiza y responde, en cualquier caso, respecto a la veracidad, exactitud, vigencia y autenticidad de los datos personales aportados en el formulario y es responsable de todas las operaciones que se realicen con su cuenta registrada. El Usuario se compromete a notificar inmediatamente y de manera fehaciente a DABRA, a cualquiera de sus medios de contacto, o a ecommerce@stockcenter.com.ar, cualquier uso no autorizado de su cuenta de Usuario, y a mantenerlo indemne en el caso de que se esto produzca algún daño a la empresa o a terceros. La registración de los Usuarios se realiza ingresando al website, y no tiene costo alguno. En el caso de que DABRA detecte distintas cuentas que contengan datos coincidentes o relacionados entre Usuarios, podrá cancelar, suspender o inhabilitarlas.</p>

        <h3>Confirmación de Compra:</h3>
        <p>Al momento de realizar la compra y que la misma sea confirmada, se le informará al Usuario su número de operación o transacción (en adelante, “Pedido”). Asimismo, el Usuario recibirá en su casilla de correo electrónico una confirmación de que la orden de Pedido ha sido aceptada, conjuntamente con su respectivo número y detalle de la misma. Interrupción del servicio – Exclusión de responsabilidad: DABRA se reserva el derecho de interrumpir, suspender o modificar en cualquier momento los servicios ofrecidos en el presente website, ya sea en forma permanente o transitoria. No se requerirá la conformidad de los Usuarios, ni será necesario aviso previo alguno. Asimismo, no garantiza el acceso o uso permanente del website, ya que éste podría interrumpirse por cuestiones técnicas ajenas a DABRA. No obstante lo mencionado anteriormente, si la suspensión o interrupción mencionada no obedeciere a razones de fuerza mayor o caso fortuito, DABRA se compromete a cumplir las prestaciones que estuvieran pendientes al momento de la suspensión o interrupción. DABRA no garantiza que el website se encuentre libre de virus, gusanos o cualquier otro elemento que pueda llegar a dañar o alterar el normal funcionamiento de un ordenador. Es responsabilidad y obligación exclusiva del Usuario contar con las herramientas adecuadas para detectar, desinfectar y/o prevenir cualquier tipo de elementos y/o posibles daños de esta naturaleza. DABRA no se responsabiliza por cualquier daño que pueda producirse en los equipos informáticos de los Usuarios o de terceros como consecuencia de la navegación del presente website.</p>

        <h3>Cookies:</h3>
        <p>El website puede utilizar un sistema de seguimiento mediante “cookies”, para que el acceso a la información, al pasar de página en página, se realice con mayor rapidez. También ayuda en algunos casos a identificar a los Usuarios, sin necesidad de solicitarles la clave de acceso una y otra vez. Estas cookies son pequeños archivos que envía la página visitada y se alojan en el disco duro del ordenador, ocupando poco espacio. Se hace saber a los Usuarios que utilizando las opciones de su navegador podrán limitar o restringir según su voluntad el alojamiento de estas “cookies”, aunque es desaconsejable restringirlas totalmente. El sistema podrá recoger información sobre sus preferencias e intereses. En el caso de que esto ocurra, la información será utilizada exclusivamente con fines estadísticos para mejorar los servicios que se prestan en el website. DABRA aplicará, en la mayor medida en que sea posible, procedimientos de disociación de la información de modo que los titulares de los datos sean inidentificables.</p>

        <h3>Derechos reservados. Propiedad intelectual:</h3>
        <p>Todos los derechos del presente website están reservados y corresponden a DABRA en virtud de los derechos de uso del dominio www.stockcenter.com.ar. El contenido del presente website, incluyendo aunque no limitado al texto, logos, gráficos, y todo el diseño en general, así como su base de datos y software, es de propiedad o uso exclusivo de DABRA o tiene derecho a usarlo en virtud de licencias de uso otorgadas y se encuentra protegido por las legislación nacional e internacional vigente sobre propiedad intelectual.



            Si el Usuario considera que en el website se viola o atenta de algún modo contra derechos de propiedad intelectual de terceros deberá notificarlo a DABRA en la dirección indicada en los presentes Términos y Condiciones, o a ecommerce@stockcenter.com.ar acompañando toda la información y documentación necesaria que respalde la mencionada consideración.</p>

        <h3>Avisos publicitarios y links:</h3>
        <p>Cuando el Usuario haga click en avisos publicitarios o links de terceros e ingresa en otros sitios que no pertenecen a DABRA, estará sujeto a los términos y condiciones de dichos sitios. El Usuario deberá leer detenidamente sus políticas de acceso y uso.

            DABRA no garantiza la legalidad, actualidad, calidad ni utilidad de los contenidos, operaciones e informaciones que se comuniquen, reproduzcan y/o realicen en sitios enlazados de terceros ni la ausencia de nocividad de tales contenidos o servicios, por lo que el Usuario exime de toda responsabilidad a DABRA por los contenidos incluidos en los referidos sitios o los servicios que en ellos se brindan o promocionan.</p>

        <h3>Jurisdicción y ley aplicable:</h3>
        <p>Los presentes Términos y Condiciones se encuentran regidos sin excepción y en todos sus puntos por las leyes de la República Argentina y serán interpretados de acuerdo con ellas. Ante cualquier diferencia, desacuerdo o conflicto derivado de la interpretación, validez, alcance y/o aplicación de los presentes Términos y Condiciones, los Usuarios se comunicarán con DABRA de manera fehaciente, haciéndole llegar su reclamo, para que las partes traten de arribar a un acuerdo. En caso de que no sea posible arribar a una solución, y para garantizar a los consumidores el pleno acceso a la justicia, los Usuarios podrán elegir y someter su reclamo a una de las siguientes opciones e instancias:



            Sistema nacional de arbitraje de consumo del Ministerio de Economía y Finanzas Públicas Nación. Los procedimientos ante este sistema son gratuitos, y no es necesario contar con patrocinio letrado. Asimismo, se garantiza el equilibrio entre las partes y la transparencia del proceso, y los laudos emitidos por dicho tribunal tienen autoridad de cosa juzgada y son irrecurribles (para saber más sobre este sistema ingresar en http://www.mecon.gov.ar/snac)
            
            Dirección General de Defensa y Protección del Consumidor del Gobierno de la Ciudad de Buenos Aires (para saber más sobre este sistema ingresar en http://www.buenosaires.gov.ar)
            
            Tribunales ordinarios de la capital federal con competencia en la materia.
            
            En el caso de que cualquiera de las opciones anteriores fuesen gravosas o económicamente inviables para Usuarios domiciliados en el exterior, las partes, a pedido del Usuario, determinarán de común acuerdo un mecanismo mutuamente conveniente para resolver sus diferencias. Asimismo, el Usuario podrá comunicarse con DABRA en cualquier momento a los efectos de llegar a un acuerdo.</p>

    </section>
    </main>

   <%- include('../partials/footer.ejs') %> 
    
</body>
</html>