@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Encabezado */
header{
    background-color: #EAC926;
    padding: 0px;
    box-sizing: border-box;
}

div.encabezado{
    padding: 5%;
    display: flex;
}

header div.encabezado p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header div.logo{
    padding: 10px;
    width: 50%;
}

header img{
    width: 50%;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 6%;
    position: relative;
    bottom: 23px;
    left: 250px;
    height: 20px;
}

.text{
    margin-left: 34px;
    margin-bottom: 15px;
}

.category{
    display: flex;
    margin: 0px;
    padding-bottom: 20px;
}

header ul{
    display: flex;
    margin: 0 auto;
    padding: 0;
}
header ul li{
    list-style: none;
    display: flex;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header nav{
    display: flex;
    font-size: 12px;
    margin-left: 20px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color:  #1259c3;;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/* BANNER */
section.banner img{
    width: 100%;
}

/* MAIN BODY */
main{
    width: 90%;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h2{
    font-size: 24px;
    color: #666;
}

p{
    font-size: 12px;
}


/* Ultimas Visitas */
.ultima-visita{
    display: flex;
    flex-wrap: wrap;
}

.descripcion{
    width: 100%;
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    width: 70%;
    font-size: 16px;
}

.descripciones{
    font-size: 16px;
    font-weight: normal;
    display: none;
    margin-top: 20px;
}


main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.descuentos{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h2{
    margin: 20px 0px;
}

/* FOOTER BODY */
footer{
    width: 100%;
    box-sizing: border-box;
}

.fotter{
    text-align: -moz-center;
}

.fotter .items{
    width: 80%;
    padding: 20px;
}

.items .iconos{
    font-size: 2em;
    color: #1259c3;
    padding: 10px;
}

/* MOBILE */
@media (min-width: 361px){
    header nav{
        display: none;
    }

    .category{
        display: none;
    }

    .descripciones{
        display: none;
    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.productos article{
        width: 45%;
    }

    .precio,
    .descuento{
        width: 50%;
    }
}

/* DESKTOP */
@media (min-width: 769px){
    header nav{
        display: block;
    }
    
    div.burger-menu{
        display: none;
    }

    .descripciones{
        display: block;
    }

    .text{
        text-align: center;
    }

    header img {
        width: 50%;
        height: 100%;
    }

    main section div.productos article{
        width: 22%;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header .form .input{
        display: flex;
        width: 40%;
        background-color: #FFF;
        border: 1px solid #000;
        outline: none;
        color: #666;
        padding: 2px;
    }
    
    header .form .submit{
        display: flex;
        background-color: #FFF;
        border: 1px solid #000;
        color: #666;
        width: 3%;
        position: relative;
        bottom: 23px;
        left: 285px;
        height: 20px;
    }

}