@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Encabezado */
header{
    background-color: #eac926;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 100%;
    z-index: 9999;
}

div.encabezado{
    display: flex;
    flex-wrap: wrap;
}

.title{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

header div.logo{
    padding: 10px;
}

header img, header .search{
    width: 100%;
}

.search {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
.search input {
    display: block;
    border: 0 rgba(197, 194, 194, 0.178);
    color: #333;
    font-size: 16px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 6px 6px 6px 6px;
    height: 36px;
    outline: none;
    font-weight: 500;
    width: 90%;
    box-shadow: 0px 2px 5px 2px rgb(158 154 154 / 40%);
    -webkit-box-shadow: 0px 2px 5px 2px rgb(158 154 154 / 40%);
    -moz-box-shadow: 0px 2px 5px 2px rgba(158, 154, 154, 0.4);
}

.search a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 40px;
    height: 32px;
    text-decoration: none;
    position: relative;
    left: -40px;
    background-color: transparent;
}

.search i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #666666;
    text-decoration: none;
}

.text{
    margin-left: 34px;
    margin-bottom: 15px;
}

.category{
    display: flex;
    margin: 0px;
    padding-bottom: 20px;
}

header ul{
    display: flex;
    margin: 0 auto;
    padding: 0;
}
header ul li{
    list-style: none;
    display: flex;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color:  #1259c3;;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/* BANNER */
section.banner img{
    width: 100%;
}

/* MAIN BODY */
main{
    width: 90%;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h2{
    font-size: 24px;
    color: #666;
}

p{
    font-size: 12px;
}

/* MAIN */
main section {
    width: 90%;
    display: block;
    margin: auto;
    background-color: #ebebeb;
    background-color: white;
    padding-bottom: 20px;
    /*box-shadow: 0px 0px 5px rgba(100, 100, 100,0.10);*/
    margin-bottom: 50px;
  }


main section article{
    width: 90%;
    display: block;
    margin: 60px auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 20px 10px rgb(100 100 100 / 10%);
    position: relative;
}


main section h3{
    margin-left: 5%;
    padding-top: 26px;
    font-weight: 600;
    display: block;
    font-size: 1.4em;
}

/* Ultimas Visitas - Ofertas */
.ultima-visita, .ofertas{
    display: flex;
    flex-wrap: wrap;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    width: 70%;
    font-size: 16px;
    padding: 20px;
}

.descripciones {
    width: 90%;
    display: none;
}

main section article img{
    width: 90%;
    display: block;
    margin: auto;
}

main section article i,
.descuentos{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

article div.descripcion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 20px 30px;
    color: #666666;
    font-weight: 700;
    height: 160px;
}

/* ORGANIZANDO ELEMENTOS */
article:hover .descripciones{
    display: flex;
    transition: 1s;
}

i.fas.fa-truck:hover {
    animation: rotate-center 2s infinite; 
    animation-direction: alternate; 
  }
  
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
  
  .fotter i:hover {
    color: #6670fc;
  }

/* FOOTER BODY */
footer{
    top: 220px;
    width: 100%;
    height: fit-content;
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 20px;
}

.fotter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
    justify-content: center;
}

.fotter .items{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 6px;
}

.items .iconos{
    font-size: 2em;
    color: #1259c3;
    padding: 10px;
}

/* MOBILE */
@media (min-width: 360px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    header nav{
        display: none;
    }

    .category{
        display: none;
    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

}

/* TABLET */
@media (min-width: 769px){

    .encabezado{
    display: flex;
      justify-content: space-around;
    }

    .search {
    width: 50%;
    margin-left: 30px;
    }
    
    .search i {
    margin-left: 0px;
    }

    .category{ 
    display: flex;
    justify-content: space-between;
    }

    .category ul {
    display: flex;
    }

    .category li {
    padding: 0 6px;
    }

    main section {
    width: 98%;
    }

    .title{
        max-width: 350px;
        text-align: right;
    }
    
    div.burger-menu{
        display: none;
    }

    .text{
        text-align: center;
    }

    header img {
        width: 50%;
        height: 100%;
    }

    main section div.productos article{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


}

/* DESKTOP */
@media (min-width: 1200px) {
.encabezado,
.category {
    max-width: 90%;
    margin: auto;
}

main {
    top: 146px;
}

header img {
    width: 250px;
}

.title {
    max-width: none;
    margin: 0;
    font-size: 16px;
}

.encabezado {
    align-items: center;
}

.category {
    margin-top: 10px;
}

.category li {
    margin: 0 12px;
}

.category a {
    font-size: 18px;
}

main section {
    width: 98%;
}

main section div.productos article{
    display: flex;
    width: 20%;
}

.main section article i {
    color: #39b54a;
    width: fit-content;
    padding: 10px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: relative;
    top: 22px;
    left: 80%;
    z-index: 9998;
}

footer {
    flex-direction: row;
    justify-content: center;
}

.fotter {
    flex-direction: row;
}

.fotter div {
    width: 30%;
}  
}
