<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/login.css">
    <%- include('../partials/head.ejs') %>
    <title>Inicia Sesion</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
 
    <main>
        <div class="diseño-form">
                <h4 class="textoInicio">
                    ¿YA TIENES CUENTA?
                </h4>
        </div>
        <form action="/users/login" method="POST">
                <div class="selector">
                    <p>Correo electronico</p>
                    <input class="selector-box" type="email" name="email" id="nombres" placeholder="Nombre de Usuario" required="">
                    <p>Contraseña</p>
                    <input class="selector-box" type="password" name="password" id="password" placeholder="Contraseña" required="">
                </div>
            
            <div>
                <p>Al iniciar sesión, aceptas los <a href="#">Terminos y Condiciones</a>    de Sportix.</p>
            </div>
            <input class="send" type="submit" value="INICIA SESION">
        </form>
        
    </main>

    <!-- <%- include('../partials/footer.ejs') %> -->
    
</body>
</html>