<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/login.css">
    <title>Inicia Sesion</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
 
    <main>
        <% if (typeof errors != 'undefined') { %>
        <p>ERROR</p>
        <ul>
            <%for (let i=0; i< errors.length; i++){%>
                <li>
                    <%= errors.[i].msg %>        
                </li>
            <%}%>    
        </ul>    
        <%}%>
        <form>
            <div class="diseño-form">
                <h4 class="textoInicio">
                    ¿YA TIENES CUENTA?
                </h4>
                <div class="selector">
                    <p>Correo electronico</p>
                    <input class="selector-box" type="text" name="nombres" id="nombres" placeholder="Nombre de Usuario" required="">
                    <p>Contraseña</p>
                    <input class="selector-box" type="password" name="password" id="password" placeholder="Contraseña" required="">
                </div>
            </div>
            <div>
                <p>Al iniciar sesión, aceptas los <a href="#">Terminos y Condiciones</a>    de Sportix.</p>
            </div>
            <input class="send" type="submit" value="INICIA SESION">
        </form>
        
    </main>

    <!-- <%- include('../partials/footer.ejs') %> -->
    
</body>
</html>