<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/login.css">
    <%- include('../partials/head.ejs') %>
    <title>Inicia Sesion</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
 
    <main>
		<div class="container">
			<div>
				<div>
					PERFIL DEL USUARIO INGRESADO
				</div>
			</div>
		</div>   
    </main>

    <!-- <%- include('../partials/footer.ejs') %> -->
    
</body>
</html>