<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styleRegister.css">
    <%- include('../partials/head.ejs') %>
    <title>Sportix | Registro </title>

</head>
<body>

    <%- include('../partials/header.ejs') %>
    <main>
        <section>
            <div class="todo">
                <div class="formulario">
                    <form action="post" id="CreateForm" action="/view/users/register.ejs">
                        <input class="controls" type="text" placeholder="Nombre" name="nombre" required="require">
                        <input class="controls"type="text" placeholder="Apellido"  name="apellido" required="require">
                        <input class="controls"type="email" placeholder="Correo Electronico"  name="correo" required="require">
                        <input class="controls"type="password" placeholder="contraseña"  name="correo" required="require">
                        <input class="controls" type="date" placeholder="DD-MM-AAAA"  name="nacimiento" required="require">
                        <input class="controls" type="text" name="direccion" placeholder="Direccion" required="require">
                        <input class="controls" type="number" placeholder="Telefono"  name="numero" required="require">
                    </form>
                </div>
                <div class="acceder">
                    <div>
                        <h3>Hacete miembro</h3>
                        <p>Unite a nuestra comunidad con tu perfil obtendras acceso anticipádo a los mejores porductos deportivos</p>
                    </div>
                </div>
            </div>
               
            <div class="acuerdos">
                
                <div>
                    <input type="checkbox" name="my-checkbox" id="opt-in">
                    <label for="opt-in">Registrate para recibir coreos electronicos del sitio con actualizacopmes de productos, ofertas y beneficios como miembros</label>
                  </div>

                <div>
                    <button type="submit" form="CreateForm" >Unirse</button>
                </div>
                <span>Ya sos miembro?<a href="">Iniciar Sesion</a></span>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>

</body>
</html>