<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/error.css">
    <title>ELIMINANDO PRODUCTO "<%= idProducto.name %>"</title>

</head>
<body>
	<h1>Eliminando el Producto "<%= idProducto.name %>"</h1>
	<h2>Esta SEGURO que quiere eliminar el producto "<%= idProducto.name %>" ?</h2>
	<a href="/products"></a><button>SI</button></a>
	<a href="/products"><button>Volver hacia Atras</button></a>
</body>

</html>