<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="css/styles.css">
    <%- include('../partials/head.ejs') %>
    <title>Sportix Página Oficial</title>
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <section> 
            <div class="barraEnvio">Con tu compra superior a $20.000 tenes envio gratis</div>
        </section>
       
        <section>
            <div class="fondoCopete">
            <img src="img/image.png"  class="copete">
            </div>
        </section>  
        
        <div class="paraQuien"> ¿PARA QUIEN COMPRAS?</div>

        <section class="glassHome">
           <div class="glassHomeImg">
               <img src="img/adiKid.jpg" alt="">
               
           </div>
           <div class="glassHomeImg">
                <img src="img/adiWoman.jpg" alt="">
            </div>
            <div class="glassHomeImg">
                <img src="img/adiWoman.jpg" alt="">
            </div>
        </section>

        <hr class="separador"> 
                <section class="productos-cards">
                    <div class="cards">
                        <div>
                            <img src="img/barcaAlt.jpg" alt="">
                        </div>
                        <div>
                            <h1>Camiseta</h1>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class="cards">
                        <div>
                            <img src="img/barcaAlt.jpg" alt="">
                        </div>
                        <div>
                            <h1>Camiseta</h1>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class="cards">
                        <div>
                            <img src="img/barcaAlt.jpg" alt="">
                        </div>
                        <div>
                            <h1>Camiseta</h1>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class="cards">
                        <div>
                            <img src="img/barcaAlt.jpg" alt="">
                        </div>
                        <div>
                            <h1>Camiseta</h1>
                            <p>$1000</p>
                        </div>
                    </div>
                </section>
        </section>
        <hr class="separador">       
        
        <section class="historias">
            <div class="historiasTxt">
                <h2>HISTORIAS, MODA Y ROPA DEPORTIVA, DESDE 2022.</h2>
                <p>
                    Sportix vende ropa de entrenamiento para deportistas de todo tipo. Creadores que adoran cambiar las reglas del juego. Desafiar las convenciones. Romper las normas y definir nuevas. Y volverlas a romper. Ofrecemos ropa deportiva a equipos y a deportistas para antes del partido. Para que no pierdan la concentración. Para deportes desde bajo impacto hasta impacto máximo. Diseñamos, innovamos y repetimos. Probamos nuestras nuevas tecnologías en acción. En el campo, en la pista y en la cancha. La ropa deportiva retro inspira nuevas tendencias de moda urbana. Los modelos deportivos clásicos vuelven a la vida, como la Stan Smith y las Jordan 1. Ahora en todas las calles y en los escenarios más destacados. 
                </p>
            </div>
            <div class="novedad" ><a href="" color="black"> <img src="img/diamondEdge.jpg" class="imgNovedad"> 
                <h2> Nuevo Adidas Diamond Edge Pack </h2>
                <p class="novedadTxt"> Les presentamos el nuevo pack de adidas para este final de temporada. Los tres silos de la marca alemana se tiñen de blanco, combinado con azul para los detalles. Clase y buen gusto, eso es lo que nos trae adidas en esta preciosa colección. </p>
            </a></div>
        </section>   
    </main>
     <!-- <footer>
                <div>
                    <ul>
                        <li><a href="">Aviso de privacidad</a></li>
                        <li><a href="">Terminos Y Condiciones</a></li>
                        <li><a href="">Nuestros Datos</a></li>
                    </ul>
                </div>
                <div class="footFixed">
                    <p>© 2022 Sportix Argentina</p>
                </div>
            </footer> -->

            <%- include('../partials/footer.ejs') %>
</body>
</html>