<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/productCart.css">
    <title>Sportix | Error 404</title>
</head>
<body>
    <main>
        <div class="notFound">
                <h1> 404 </h1>
                <h2> Not Found </h2>
                <p>Oops! Sorry, the page you're searching is not found!</p>
        </div>
    </main>
</body>
</html>