<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/list.css">
    <title>Sportix | Listado de Productos </title>

</head>
<body>
    <header>
        <nav>
            <a href="/products">Listado de Productos</a>
            <a href="/productCreate">Crear un nuevo Producto</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="todo">
                <h1>SPORTIX | Listado de Productos</h1>
                <ul>
                    <% for (let i = 0; i< productos.length; i++) { %>
                        <li>
                            <a href="/products/<%= productos[i].id %> "><%= productos[i].name %></a>
                            <form method="POST" action="/products/delete/<%= productos[i].id %>?_method=DELETE">
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    <% }  %>
                </ul>
        </section>
    </main>

</body>
</html>