<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/productCart.css">
    <title>Sportix | Carrito de Compras</title>
</head>
<body>
    
    <%- include('../partials/header.ejs') %>

    <main>
        <div class="carrito">
            <h1>Tu carrito</h1>
            <p>Total(3 productos)</p>
            <p>$28.000</p>
            
            <hr>
        </div>
        
        <section class="informacion">
            <div class="div1">
                <div class="descripcion">
                    <div class="img">
                        <img src="img/buzo.jpg" alt="">
                    </div>
                    <div class="info">
                        <h1>CAMISETA TITULAR OFICIAL BOCA JUNIORS 21/22
                        </h1>
                        <p>Cantidad:1</p>
                        <p>Color:Negro</p>
                        <p>Tamaño: S</p>
                        <p>$15.999,00:</p>
                        <button class="btn first">Eliminar</button>
                    </div>
                </div>
                <div class="descripcion">
                    <div class="img">
                        <img src="img/camiseta.jpg" alt="">
                    </div>
                    <div class="info">
                        <h1>CAMPERA DE INVIERNO BOCA JUNIOR</h1>
                        <p>Cantidad:1</p>
                        <p>Color:Negro</p>
                        <p>Tamaño: S</p>
                        <p>$15.999,00:</p>
                        <button>Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="resumen">
                    <h1>Resumen del Pedido</h1>
                    <div>
                        <span>Subtotal</span>
                        <span>$12.499,00</span>
                    </div>
                    <div>
                        <span>Envio</span>
                        <span>$1.499,00</span>
                    </div>
                    <div>
                        <span>Retenciones</span>
                        <span>$700.00</span>
                    </div>
                    
                    <div>
                        
                        <span>Total</span>
                        <span>$1.500,00</span>
                    </div>
                    <div>
                        <button>Ir a pagar <span><i class="fa fa-solid fa-arrow-right"></i></span></button>
                    </div>
                
                </div>
                <div class="pagos">
                    <div>
                        <h1>Opciones de pago</h1>
                    </div>
                    <div class="tarjetas">
                        <!-- <i class="fa fa-solid fa-credit-card"></i>
                        <i class="fa fa-solid fa-credit-card"></i>
                        <i class="fa fa-solid fa-credit-card"></i>
                        <i class="fa fa-solid fa-credit-card"></i>
                        <i class="fa fa-solid fa-credit-card"></i> -->
                        <img src="img/tarjetas.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            
            
        </section>
    </main>
    <!-- <footer>
        <div>
            <ul>
                <li><a href="">Aviso de privacidad</a></li>
                <li><a href="">Terminos Y Condiciones</a></li>
                <li><a href="">Nuestros Datos</a></li>
            </ul>
        </div>
        <div>
            <p>© 2022 Sportix Argentina</p>
        </div>
    </footer> -->
    <%- include('../partials/footer.ejs') %>

</body>
</html>