@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
:root{
    --titulos-color: #333333;
    --tamanio-titulos: 30px;
    --titulo-family:'Open Sans', sans-serif;
}

*{
    margin: 0px;
    box-sizing: border-box;
    
}


/* MAIN */
main{
    background-color: #d2dcf1fd;
    padding: 15px;
}


/* TITULO / ENCABEZADO */
header {
    background-color: #000000;
    color: white;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: var(--blue);
}

header nav a {
    display: inline-block;
    background-color: #000000;
    color: rgb(255, 254, 254);
    padding: var(--default-padding);
    margin: 0 var(--default-margin);
    border-radius: var(--default-radius);
}

header nav a:hover {
    background-color: #ee1616;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 60px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

/* FORMULARIO */

label{
    font-family: cursive;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px;
}

.controls{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 18px;
}


ul{
    flex-direction: column;
    display: flex;
    list-style: none;
    font-size: x-large;
    font-weight: bold;
}

li{
    display: flex;
}

form{
    padding: 5px;
}

@media (min-width:360px) {

}

@media (min-width:768px) {
    .controls{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #8c8c8e;
        font-size: 18px;
    }
}

@media (min-width:1024px){

    div.size{
        width: 54%;
        position: relative;
    }
    
    .controls{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #8c8c8e;
        font-size: 18px;
    }
    

    
}

