
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
:root{
    --titulos-color: #333333;
    --tamanio-titulos: 30px;
    --titulo-family:'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: black;
    text-decoration: none;
}
  
.diseño-form {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 5%; 
    margin-bottom: 30px;
  }
  
 .diseño-form h4 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 3px
  }

  .diseño-form p {
    text-align: left;
    font-size: 12px;
    line-height: 18px;
  }
  
  
  .selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  input:required {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 12px;
    color: black;
    margin: 0px 500px 10px 500px;
  }

  input:required:invalid {
  border-color: red;
  }

  p{
    color: gray;
    text-align: center;
    font-size: 12px;
  }

  a:hover {
    text-decoration: underline;
  }

  .send {
    position: relative;
    left: 35%;
    background: #343a40;
    border: 1px solid #343a40;
    padding: 10px;
    color: white;
    margin: 20px 0;
    font-size: 12px;
  }

button.nav-email{
    background-color: #0a141d;
    color: white;
    border: none;
}

form.search input{
    border-radius: 10px;
    padding: 4px;
    margin: 0px;
    font-size: 15px;
    font-family: inherit;
    font-style: italic;
    color: black;
}

.redes{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: contents;
    text-decoration: none;
    line-height: 25px;
    color: #fff;
    transition: all 300ms ease;
    justify-content: center;
}

.red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 10px;
}

/* Mobile */
@media (min-width: 360px) {

}

/* Tablet */
@media (min-width:768px) {

}

@media (min-width:1024px) {

  .diseño-form {
    position: relative;
  }
  
  .send {
    position: relative;
    left: 46%;
  
  }
}
/* Esta es la barra de categorias */
header div.login-dektop {
    display: flex;
    width: 100%;
    justify-content: end;
    background-color: black;
}

.login-dektop button, header div span{
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    color: white;
    font-size: 12px;
    background-color: black;
    padding: 0px 2px;
    font-style: italic;
}

.header-banner{
    background-color: #a19797;
    color: white;
    font-size: 5px;
    border: 1px solid #a19797;
    text-align: end;
}

/* Encabezado */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fec303;
    height: auto;
    width: 100%;
    top: 0;
}

header div{
    justify-content: space-evenly;
    display: flex;
    margin: auto;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-start;
    padding: 1px 10px;
}

.logo {
    width: 80px;
}


.search{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

div.search input{
    position: relative;
    right: 25px;
    display: flex;
    border-radius: 10px;
    font-size: 14px;
    color: rgba(134, 131, 131, 0.916);
    text-align: center;
    width: 27vw;
}

div.search i{
    position: absolute;
    right: 88px;
    top: 19px;
    font-size: 14px;
    opacity: 40%;
    color: #4a4d53fd;
}

div.searchmobile i{
    color: black;
}

div.searchmobile i:hover {
    color: blue;
    transition: transform .1s ease;
    transform: scale(1.2);
}

.nav{
    box-sizing: border-box;
    padding-right: 40px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0px;
    font-family: serif;
    color: black;
    align-items: center; 
}

.nav ul li a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}


/*Mobile*/
@media (min-width:360px) {
    header .nav{
        display: none;
    }
    
    header .search{
        display: none;
    }
}

/*Terminado mobile*/

/* Tablet */
@media (min-width:768px) {

/* ENCABEZADO */
    header .menu{
        display: none;
    }
    
    header .nav{
        display: flex
    }

    header .search{
        display: flex;
        margin: 10px;
        width: auto;
    }

    header form.search input{
        padding-top: 5px;
        padding-bottom: 7px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
        background-color: #fff;
        border: none;
        color: #333;
        font-size: 0.8em;
        border-radius: 10px;
        margin: 0;
        font-family: cursive;
    }

    div.logo{
        display: flex;
        width: 11vw;
    }

    button.nav-search {
        padding-top: 5px;
        padding-bottom: 7px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
        background-color: #fff;
        border: none;
        color: #333;
        border-radius: 10px;
        margin: 0;
        font-family: cursive;
    }

    i.fa.fa-search{
        display: none;
    }

    .login {
        width: 30%;
        display: flex;
        justify-content: space-around;
    }
    
}
/* Terminado Tablet */

/* Desktop */
@media (min-width:1024px){
    header .menu{
        display: none;
    }

    header div form.search{
        margin:20px;

    }

    
    header .search{
        display: flex;
    }

    i.fa.fa-search{
        display: none;
    }

    .login {
        width: 30%;
        display: flex;
        justify-content: space-around;
    }

    div.searchmobile{
        display: none;
    }

    div.search i {
        right: 140px;
    }

    div.descripcion-producto ul{
        list-style: none;
    }
     
}
/* Terminado Desktop */