@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
:root{
    --titulos-color: #333333;
    --tamanio-titulos: 30px;
    --titulo-family:'Montserrat', sans-serif;
}

*{
    margin: 0px;
    box-sizing: border-box;
    
}


/* MAIN */
main{
    margin: 20px;
    border: 2px solid black;
    display: flex;
    background-color: #9fb0d3fd;
    text-align: center;
    flex-direction: column;
    padding: 15px;
    line-height: 30px;
}


/* TITULO / ENCABEZADO */
header {
    background-color: #000000;
    color: white;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: var(--blue);
}

header nav a {
    display: inline-block;
    background-color: #000000;
    color: rgb(255, 254, 254);
    padding: var(--default-padding);
    margin: 0 var(--default-margin);
    border-radius: var(--default-radius);
}

header nav a:hover {
    background-color: #ee1616;
}

h1{
    font-style: italic;
    margin: 60px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    line-height: 40px;
}

.text-danger{
    color: red;
    display: ruby-text;
}

/* FORMULARIO */
form{
    padding: 30px;
}

label{
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px;
}

.controls{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 18px;
}


ul{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0px;
    font-family: serif;
    color: black;
    align-items: baseline;
}

/* VALIDACIONES NO BORRAR */

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: flex;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
    width: 35%;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.errores{
    color: red;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

@media (min-width:360px) {
    main section{
        display: flex;
        flex-direction: column;
        text-align: center;
            
    }
}

@media (min-width:768px) {
    .controls{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #8c8c8e;
        font-size: 18px;
    }

    div{
        display: inline-flex;
        align-items: center;
        margin: 10px;
    }

    div.size{
        width: 54%;
        position: relative;
    }

    div.botones{
        display: block;
    }
}

@media (min-width:1024px){

    div{
        display: inline-flex;
        align-items: center;
    margin: 10px;
    width: 100%;
    
    }

    div.size{
        display: inline-flex;
        align-items: center;
        margin: 10px;
        width: 100%;
    }

    div.botones{
        display: block;
    }
    
    .controls{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #8c8c8e;
        font-size: 18px;
    }

    select{
        font-size: 15px;
    }
    .size ul{
        flex-direction: row;
    }
    .size li {
        margin-right: 15px;
    }

    
}
