
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root{
    --titulos-color: #333333;
    --tamanio-titulos: 30px;
    --titulo-family:'Open Sans', sans-serif;
}

*{
    margin: 0px;
    box-sizing: border-box;    
}

main nav {
    font-size: 5px;
    margin-top: 5px;
  }

ul.breadcrumb {
    padding: 2px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover{
color: blue;
font-style: underline;
}

form{
    width: 100%;
    padding: 30px;
    order: 1;
}

.controls{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8c8c8e;
    font-size: 18px;
}



.acuerdos div:nth-child(2) button{
    font-size: 18px;
    padding: 5px 40px;
    background-color: #000000;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
}
.acuerdos div:nth-child(2) button:hover{
    font-size: 18px;
    padding: 5px 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(82, 82, 82);
}
.acuerdos span{
    font-size: 18px;
}
.acuerdos span a{
    color: #000000;
}

@media (min-width:360px) {
   
    main{
        display: flex;
        flex-direction: column;
    }
    
    main section{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        
    }
    .todo{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 0;
    }
    .acceder{
        display: flex;
        padding: 20px 30px;
        border: 1px solid black;
        margin: 5px;
        width: 90%;
        text-align: center;
        justify-content: center;
        border-style: dotted;
        order: 1;
        margin-top: 20px;
        
        
    }
    .formulario{
        order: 2;
    }
    
    .acuerdos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .acuerdos div:nth-child(1){
        width: 70%;
        font-size: 20px;
        margin: 10px;
    }

}


@media (min-width:768px) {
   
    main{
        display: flex;
        flex-direction: column;
    }
    
    main section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .todo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .acceder{
        display: flex;
        padding: 20px 30px;
        border: 1px solid black;
        margin: 5px;
        width: 90%;
        text-align: center;
        justify-content: center;
        border-style: dotted;
        order: 1;
        margin-top: 20px;
        
    }
    .formulario{
        order: 2;
    }
    
    .acuerdos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .acuerdos div:nth-child(1){
        width: 70%;
    }

    .nav:hover{
        color: blue;
        font-style: underline ;
    }

    .child{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .separador{
        width: 70%;
    }

}

@media (min-width:1024px){

    
    main{
        display: flex;
        flex-direction: column;
        
    }
    
    main section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }



    .formulario{
        width: 60%;
        order: 1;
    }
    form{
        width: 80%;
    }

    .todo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px;
    }
    .acceder{
        display: flex;
        padding: 20px 30px;
        border: 1px solid black;
        margin-top: 30px;
        width: 25%;
        text-align: center;
        justify-content: center;
        border-style: dotted;
        align-self: flex-start;
        margin-right: 100px;
        order: 2;
    }
    
    .acuerdos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        
    }
    
    .acuerdos div:nth-child(1){
        font-size: 20px;
        width: 35%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

