
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    
    
}

.login-dektop{
    display: none;
}

.desktop {
    display: none;
}

/* Esta es la barra de categorias */
header div.login-dektop {
    display: flex;
    width: 100%;
    justify-content: end;
    background-color: black;
    align-items: center;
    padding: 0px;
}

.login-dektop button, header div span{
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    color: white;
    font-size: 12px;
    background-color: black;
    padding: 0px 2px;
    font-style: italic;
}

.header-banner{
    background-color: #a19797;
    color: white;
    font-size: 5px;
    border: 1px solid #a19797;
    text-align: end;
}

/* Encabezado */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fec303;
    height: auto;
    width: 100%;
    top: 0;
}

header div{
    justify-content: space-evenly;
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    padding: 0px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    padding: 1px 10px;
}

.logo {
    width: 80px;
}


.search{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

div.search input{
    position: relative;
    right: 25px;
    display: flex;
    border-radius: 10px;
    font-size: 14px;
    color: rgba(134, 131, 131, 0.916);
    text-align: center;
    width: 27vw;
    
}

div.search i{
    position: absolute;
    right: 88px;
    top: 19px;
    font-size: 14px;
    opacity: 40%;
    color: #4a4d53fd;
}

div.searchmobile i{
    color: black;
}

div.searchmobile i:hover {
    color: blue;
    transition: transform .1s ease;
    transform: scale(1.2);
}

.nav{
    box-sizing: border-box;
    padding-right: 40px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0px;
    font-family: serif;
    color: black;
    align-items: center; 
}

.nav ul li a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
main nav {
    font-size: 5px;
    margin-top: 5px;
  }

ul.breadcrumb {
    padding: 2px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover{
color: blue;
font-style: underline;
}



/* header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fec303;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.menu {
    width: 15vw;
    display: flex;
    padding: 0 10px
}

.logo {
    width: 80px;
}


.login{
    width: 18%;
    display: flex;
    justify-content: space-around;
}

.nav{
    box-sizing: border-box;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.nav ul li a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.barraEnvio {
    margin-top: 50px ;
    height: auto;
    border:solid 1.5px lightgrey;
    text-align: center;
    font-size: 12px;
    padding: 4px;
} */

header form{
    padding: 0px;
}

form{
    width: 100%;
    padding: 30px;
    order: 1;
}

.controls{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8c8c8e;
    font-size: 18px;
}



.acuerdos div:nth-child(2) button{
    font-size: 18px;
    padding: 5px 40px;
    background-color: #000000;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
}
.acuerdos div:nth-child(2) button:hover{
    font-size: 18px;
    padding: 5px 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(82, 82, 82);
}
.acuerdos span{
    font-size: 18px;
}
.acuerdos span a{
    color: #000000;
}
@media (min-width:360px) {
    /* header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0.3rem;
        background-color: rgb(254,195,3);
        
    }
    
    .logo{
        width: 30%;
        text-align: center;
        
    }
    
    .logo i{
        font-size: 20px;
        float: left;
        color: #000000;
        margin-left: 30px;
    }
    
    .img-mobile{
        width: 15%;
        text-align: center;
    }
    .login{
        width: 30%;
        text-align: center;
    
    }
    .login i{
        float: right;
        margin-right: 15px;
        font-size: 20px;
    }
    
    .login .icon-login{
        font-size: 20px;
        
        color: #000000;
    } */

    /* header .nav{
        display: none;
    } */

    header .nav{
        display: none;
    }
    
    header .search{
        display: none;
    }
    
    main{
        display: flex;
        flex-direction: column;
    }
    
    main section{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        
    }
    .todo{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 0;
    }
    .acceder{
        display: flex;
        padding: 20px 30px;
        border: 1px solid black;
        margin: 5px;
        width: 90%;
        text-align: center;
        justify-content: center;
        border-style: dotted;
        order: 1;
        margin-top: 20px;
        
        
    }
    .formulario{
        order: 2;
    }
    
    .acuerdos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .acuerdos div:nth-child(1){
        width: 70%;
        font-size: 20px;
        margin: 10px;
    }

}


@media (min-width:768px) {
    /* header .img-mobile{
        width: 15%;
    }
    
    .logo{
        text-align: inherit !important;
    }
    .logo i{
        margin-left: 20px;
        text-align: none !important
    }

    .login{
        text-align: end;

    }

    .login i:nth-child(2){
        margin-right: 20px;
    } */
    /* header .menu{
        display: none;
    }
    
    header .nav{
        display: flex
    }
    
    .logo {
    width: 80px;
    position: relative;
    left: 10px
    }


    .login{
    width: 15%;
    } */

    header .menu{
        display: none;
    }
    
    header .nav{
        display: flex
    }

    header .search{
        display: flex;
        margin: 10px;
        width: auto;
    }

    header form.search input{
        padding-top: 5px;
        padding-bottom: 7px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
        background-color: #fff;
        border: none;
        color: #333;
        font-size: 0.8em;
        border-radius: 10px;
        margin: 0;
        font-family: cursive;
    }

    div.logo{
        display: flex;
        width: 11vw;
    }

    button.nav-search {
        padding-top: 5px;
        padding-bottom: 7px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
        background-color: #fff;
        border: none;
        color: #333;
        border-radius: 10px;
        margin: 0;
        font-family: cursive;
    }

    i.fa.fa-search{
        display: none;
    }

    .login {
        width: 30%;
        display: flex;
        justify-content: space-around;
    }
    form{
        width: 100%;
        padding: 30px;
       
    }


    .controls{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #8c8c8e;
        font-size: 18px;
    }
    
    main{
        display: flex;
        flex-direction: column;
    }
    
    main section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .todo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .acceder{
        display: flex;
        padding: 20px 30px;
        border: 1px solid black;
        margin: 5px;
        width: 90%;
        text-align: center;
        justify-content: center;
        border-style: dotted;
        order: 1;
        margin-top: 20px;
        
    }
    .formulario{
        order: 2;
    }
    
    .acuerdos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .acuerdos div:nth-child(1){
        width: 70%;
    }
}

@media (min-width:1024px){
    /* .logo{
        display: none;
    }
    .img-mobile{
        display: none;
    }

    .login{
        display: none;
    }

    .login-dektop button {
        font-size: 10px;
        background-color: black;
        padding: 5px 10px;
        color: white;
    }
    header{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }


    header .login-dektop{
        display: flex;
        width: 100%;
        justify-content: end;
        background-color: black;
    }

    .login-dektop button{
        font-family: 'Roboto', sans-serif;
        border: 1px solid black;
        font-size: 15px;
        padding: 5px 12px;
    }

    header .desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: rgb(254,195,3);
    }

    .img-desktop{
        width: 7%;
    }
    .img-desktop img{
        width: 100%;
    }
    .nav{
        box-sizing: border-box;
        width: 40%;
    }
    .nav ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        
    }

    .nav ul li a{
        margin-right: 10px;
        margin-left: 10px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: black;
    }
    .nav ul li a:hover{
        text-decoration:revert;
    }
    .search{
        display: flex;
        width: 25%;
        justify-content: space-evenly;
    }

    .search input {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        width: 160px;
        height: 30px;
    }
    .iconos-desktop{
        font-size: 20px;
        
    } */

    /* header .menu{
        display: none;
    } */

    header .menu{
        display: none;
    }

    header div form.search{
        margin:20px;

    }
    form{
        width: 100%;
        padding: 30px;
    }
    
    .controls{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #8c8c8e;
        font-size: 18px;
    }
    
    main{
        display: flex;
        flex-direction: column;
        
    }
    
    main section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }



    .formulario{
        width: 60%;
        order: 1;
    }
    form{
        width: 80%;
    }

    .todo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px;
    }
    .acceder{
        display: flex;
        padding: 20px 30px;
        border: 1px solid black;
        margin-top: 30px;
        width: 25%;
        text-align: center;
        justify-content: center;
        border-style: dotted;
        align-self: flex-start;
        margin-right: 100px;
        order: 2;
    }
    
    .acuerdos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        
    }
    
    .acuerdos div:nth-child(1){
        font-size: 20px;
        width: 35%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    


}

