/* Esta es la barra de navegacion */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #fec303;
    height: 50px;
    
}

.menu {
    width: 17%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
}

.logo {
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


.login{
    width: 17%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;

}

.barraEnvio {
    height: 20px;
    border:solid 1.5px lightgrey;
    text-align: center
}


/* Este es el copete */
.copete {
    background-color: coral;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

.paraQuien{
    padding-top: 15px;
    height: 40px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.glassHome {
    display: flex;
    justify-content: space-around;

}

.adiWoman {
    display: flex;
    height: 140px;
    width: 140px;
}

.nikeMan {
    display: flex;
    height: 140px;
    width: 140px;
}

.adiKid {
    display: flex;
    height: 140px;
    width: 140px;
}

.ofertas{
    padding-top: 15px;
    height: 40px;
    font-style: italic;
    font-weight: bold;
    color: red;
}