*{
    margin: 0px auto;
}

.header-banner{
    background-color: #a19797;
    color: white;
    font-size: 5px;
    border: 1px solid #a19797;
    text-align: end;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem;
    flex-wrap: wrap;
}

.logo{
    width: 30%;
    text-align: center;
    font-size: 24px;
    padding-right: 7px;
    
}

.img{
    width: 25%;
    text-align: center;
}
.login{
    width: 30%;
    text-align: center;
    font-size: 24px;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: ;
    background-color: black;
    color: white;
    font-size: 6px;
}

.column1{
    justify-content: flex-start;
}

.column2{
    justify-content: center;
}

.column3{
    margin-left: 40px;
}

.search i{
    align-self: flex-end;
    font-size: 10px;
}

main{
    background-color: #a19797;
    color: black;
}

main .imagen{
    width: 50vw;
    display: flex;
    border: solid 1px black;
}

main nav{
    font-size: 5px;
    margin-top: 5px;
}