
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');



* {
    font-family: OpenSans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

/*Mobile*/


/* Esta es la barra de navegacion */

/* Encabezado */
header div.login-dektop {
    display: flex;
    width: 100%;
    justify-content: end;
    background-color: black;
}

.login-dektop button, header div span{
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    color: white;
    font-size: 12px;
    background-color: black;
    padding: 0px 2px;
    font-style: italic;
}

.header-banner{
    background-color: #a19797;
    color: white;
    font-size: 5px;
    border: 1px solid #a19797;
    text-align: end;
}

/* Encabezado */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fec303;
    height: auto;
    width: 100%;
    top: 0;
}

header div{
    justify-content: space-evenly;
    display: flex;
    margin: auto;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-start;
    padding: 1px 10px;
}

.logo {
    width: 80px;
}


.search{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

div.search input{
    position: relative;
    right: 25px;
    display: flex;
    border-radius: 10px;
    font-size: 14px;
    color: rgba(134, 131, 131, 0.916);
    text-align: center;
    width: 27vw;
}

div.search i{
    position: absolute;
    right: 88px;
    top: 19px;
    font-size: 14px;
    opacity: 40%;
    color: #4a4d53fd;
}

div.searchmobile i{
    color: black;
}

div.searchmobile i:hover {
    color: blue;
    transition: transform .1s ease;
    transform: scale(1.2);
}

.nav{
    box-sizing: border-box;
    padding-right: 40px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0px;
    font-family: serif;
    color: black;
    align-items: center; 
}

.nav ul li a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}


footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    background-color: gray;
}

footer ul li{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

footer ul li a{
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.footFixed {
    height: 10px;
    position: fixed;
    bottom: 0 ;
    width: 100vw;
    background-color:  #fec303;
    font-size: 8px;
    z-index: 10;

}

/*Mobile*/
@media (min-width:360px) {
    header .nav{
        display: none;
    }
    header .search{
        display: none;
    }
    
}

/*Terminado mobile*/

/* Tablet */
@media (min-width:768px) {
    header .menu{
        display: none;
    }
    
    header .nav{
        display: flex
    }
    
    .logo {
    width: 80px;
    position: relative;
    left: 10px
    }


    .login{
    width: 15%;
    }

    
    .barraEnvio {
    font-size: 18px;
    padding: 5px;
    height: auto;
    }
    
    .copete {
    height: 8vh;
    width: 90vw;
    }
    
    h3 {
    font-size: 30px
    }

    .prices{
    font-size: 15px;
    }

    .saving{
    font-size: 12px;     
    }

    .oldprice{
    font-size: 12px;   
    }


    .historiasTxt {
    font-size: 14px;
    line-height : 20px;
    height: 31vh;    
    }
    
    .historiasTxt h2{
    font-size: 15px;
        
    }
    
    .novedad {
    padding: 0 10px;
    height: 31vh; 
    }
    
    .novedadTxt{
    font-size: 14px;
    line-height: 20px;
    
    }

    .novedad h2{ 
    font-size: 15px;
    }

    .imgNovedad {
    height: 50%;
    width: 100%;
    }
   
}
/* Terminado Tablet */

/* Desktop */
@media (min-width:1024px){
    header .menu{
        display: none;
    }
    
    .copete {
    height: 12vh;
    width: 60vw;
     }
    
    .barraEnvio {
    font-size: 18px;
    padding: 7px;
    height: auto;
    }
    
    .glassHome{
        padding: 10px
    }
    
    .adiWoman {
    height: 32vh;
    width: 23vw;
    }
    
    .nikeMan {
    height: 32vh;
    width: 23vw;
    }
    
    .adiKid {
    height: 32vh;
    width: 23vw;
    }    
    
    .adiWoman:hover {
    transition: transform .5s ease;
    transform: scale(1.05);
    }
    
    .nikeMan:hover {
    transition: transform .5s ease;
    transform: scale(1.05);
    }

    .adiKid:hover {
    transition: transform .5s ease;
    transform: scale(1.05);
    }
    
    .boxOfertas:hover {
    transition: transform .5s ease;
    transform: scale(1.1);
    }
    
    .imgOferta {
    
    height: 18vh;
    width: 15vw;
    }

    
    .historiasTxt {
    font-size: 15px;
    line-height : 30px;
    height: 41vh;    
    }
    
    .historiasTxt h2{
    font-size: 20px;
        
    }
    
    .novedad {
    padding: 0 10px;
    height: 41vh; 
    }
    
    .novedadTxt{
    font-size: 15px;
    line-height: 30px;
    
    }

    .novedad h2{ 
    font-size: 20px;
    }

    .imgNovedad {
    height: 50%;
    width: 100%;
    }
   
}

/* Terminado Desktop */