@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);


.container {
    display: flex;
    flex-direction: row;
}


.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 15vw;
    height: 100vc;
    background-color: #fec303;
    color: black;
    line-height: 20px;
    font-family: Nunito;
    font-weight: 600;
}

.sidebar span{
    padding: 10px 15px 0px;

}



.sidebartitle {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 15vw;
    height: auto;
    display: flex;
    padding: 10px 0;
}

.divider{
    color:  black;
    margin: 5px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    line-height: 20px;
    list-style-type: none;
    
}

li{
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    background-color: #0c0120;
    width: 100%;
    margin: 0;
    

}

.contentWrapper h1{
    font-weight: 500;
    color: whitesmoke;
    padding: 5px 30px;
    background-color: #0c0120;

}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color:#fec303;
    box-shadow: 0px 18px 29px -19px rgba(0,0,0,0.12);
}

.alerts{
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    color: black;
    width: 7vw;
}

.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0 10px;
    width: 15vw;
    height: 50%;
    color: black;
    border-left: solid 0.5px gray;
}

.user img{
    border-radius: 50% ;
    width: 3vw;
    height: 5vh;
}

.contentRowMovies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.statsBox1{
    background-color:#0c0120;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 10vh;
    border-radius: 5px;
    border-left: solid 5px #fec303;
    padding: 10px 30px;
    box-shadow: 0px 18px 29px -19px rgba(0,0,0,0.12);
    text-transform: uppercase;
}

.statsBox1 h2{
    color: #fec303;
    font-size: 12px;
    margin-top: 30px;
    font-weight: 500;
}

.statsBox1 p{
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 0;
}

.statsBox2{
    background-color: #0c0120;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 10vh;
    border-radius: 5px;
    border-left: solid 5px #fec303;
    padding: 10px 30px;
    box-shadow: 0px 18px 29px -19px rgba(0,0,0,0.12);
    text-transform: uppercase;
}

.statsBox2 h2{
    color:  #fec303;
    font-size: 12px;
    margin-top: 30px;
    font-weight: 500;
}

.statsBox2 p{
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 0;
}

.statsBox3{
    background-color: #0c0120;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 10vh;
    border-radius: 5px;
    border-left: solid 5px #fec303;
    padding: 10px 30px;
    box-shadow: 0px 18px 29px -19px rgba(0,0,0,0.12);
    text-transform: uppercase;
}

.statsBox3 h2{
    color:  #fec303;
    font-size: 12px;
    margin-top: 30px;
    font-weight: 500;
}

.statsBox3 p{
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 0;
}


.icon{
    font-size: 35px;
    color: #fec303;
}

.databaseContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}

.lastMovie{
    width: 50%;
    height: auto;
    background-color: #0c0120;
    box-shadow: 0px 0px 41px -16px rgba(0,0,0,0.48);
    border-radius: 10px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: #f8f9fc;
    height: auto;
}

.title h1{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 10px ;
}

.content img{
    width: 75%;
    position: relative;
    left: 50px;
}

.content{
    padding: 20px;
    color: whitesmoke;
}

.content button{
    background-color: #fec303;
    color: black;
    width: 10vw;
    height: 6.5vh;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px;
}

.genres{
    width: 50%;
    height: auto;
    background-color: #0c0120;
    box-shadow: 0px 0px 41px -16px rgba(0,0,0,0.48);
    border-radius: 10px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0c0120;
    height: 100%;
    padding: 1.25rem;
    flex-wrap: wrap;
}

.cardContent{
    background-color: #190244;
    color: white;
    width: 35%;
    height: 8%;
    font-size: 15px;
    padding: 20px;
    margin: 10px;
    border-radius: .35rem;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0120;
    color: whitesmoke;
    font-size: 12px;
    height: 10vh;
}