<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img src="../public/images/logo-mercado-liebre.svg" alt="">
            <div>
                <input type="text" width="800px" placeholder="Buscar productos, marcas" >
                <div class="search">
                    <a href=""><i class='bx bx-search-alt-2'></i></a>
                </div>
            </div>
            
        </div>
        
        <div>
            <p>Comprá en cuotas y sin tarjeta de crédito</i> </p>
        </div>
        
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <box-icon name='search-alt-2'></box-icon>
        </ul>
        <br>
        <ul>
            <li><a href=""> HOLA HOLA HOLA<i class=" fas fa-thin fa-id-card"></i></a></li>
            <li><a href="">Ingresa<i class="fas fa-solid fa-right-from-bracket"></i></a></li>
            <li><a href="">Mis Compras<i class="fas-solid fas-bag-shopping"></i></a></li>
            
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <main>
        <section>
            <h2>Basado en tus ultimas visitas</h2>
                <div>
                    <div>
                        <img src="../public/images/img-cafetera-moulinex.jpg" alt="">
                    </div>
                    <div class="descripcion">
                        
                            <i class="fa fa-solid fa-truck"></i>
                        
                        
                        <p>$6.770</p>
                        <p>40% off</p>
                        <h3>Cafetera</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../public/images/img-macbook-pro-2019.jpg" alt="">
                    </div>
                    <div class="descripcion">
                        <i class="fa fa-solid fa-truck"></i>
                        <p>$230.000</p>
                        <p>20% off</p> 
                        <h3>MacBook Pro 2019</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="">
                    </div>
                    <div class="descripcion">
                        <i class="fa fa-solid fa-truck"></i>
                        <p>$70.500</p>
                        <p>10% off</p> 
                        <h3>Sasmung galaxy s10</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../public/images/img-tv-samsung-smart.jpg" alt="">
                    </div>
                    <div class="descripcion">
                        <i class="fa fa-solid fa-truck"></i>
                        <p>$23.200</p>
                        <p>5% off</p> 
                        <h3>SmartTv Samsung 43"</h3>
                    </div>
                </div>
        </section>
        <section>
            <h2>Seccion de ofertas</h2>
                <div>
                    <div>
                        <img src="../public/images/img-cafetera-moulinex.jpg" alt="">
                    </div>
                    <div>
                        <p>$6.770</p>
                        <p>40% off</p>
                        <h3>Cafetera</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../public/images/img-macbook-pro-2019.jpg" alt="">
                    </div>
                    <div>
                        
                        <p>$230.000</p>
                        <p>20% off</p> 
                        <h3>MacBook Pro 2019</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="">
                    </div>
                    <div>
                        
                        <p>$70.500</p>
                        <p>10% off</p> 
                        <h3>Sasmung galaxy s10</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../public/images/img-tv-samsung-smart.jpg" alt="">
                    </div>
                    <div>
                        <p>$23.200</p>
                        <p>5% off</p> 
                        <h3>SmartTv Samsung 43"</h3>
                    </div>
                </div>
        </section>
        
    </main>
    <footer>
        <div class="fotter">
            <div class="items">
                <div class="iconos">
                    <i class="fas fa-solid fa-money-check"></i>
                </div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="items">
                <div class="iconos">
                    <i class="fas fa-solid fa-gift"></i>
                </div>
                <h3>Envío gratis desde $ 2.500o</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="items">
                <div class="iconos">
                    <i class="fas fa-solid fa-user-shield"></i>
                </div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                
            </div>
            
            

        </div>
        <div>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </div>
    </footer>
</body>
</html>