<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img src="/public/images/logo-mercado-liebre.svg" alt="">
            <input type="text" width="500px">
        </div>
        <div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <br>
        <ul>
            <li><a href="">Crea tu cuenta</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Mis Compras</a></li>
            
        </ul>
    </header>
    <main>
        <div>
            <h2>Basado en tus ultimas visitas</h2>
                <div>
                    <div>
                        <img src="/public/images/img-cafetera-moulinex.jpg" alt="">
                    </div>
                    <div>
                        <p>$6.770</p>
                        <p>40% off</p>
                        <h3>Cafetera</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/public/images/img-macbook-pro-2019.jpg" alt="">
                    </div>
                    <div>
                        
                        <p>$230.000</p>
                        <p>20% off</p> 
                        <h3>MacBook Pro 2019</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="">
                    </div>
                    <div>
                        
                        <p>$70.500</p>
                        <p>10% off</p> 
                        <h3>Sasmung galaxy s10</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/public/images/img-tv-samsung-smart.jpg" alt="">
                    </div>
                    <div>
                        <p>$23.200</p>
                        <p>5% off</p> 
                        <h3>SmartTv Samsung 43"</h3>
                    </div>
                </div>
        </div>
        <div>
            <h2>Seccion de ofertas</h2>
                <div>
                    <div>
                        <img src="/public/images/img-cafetera-moulinex.jpg" alt="">
                    </div>
                    <div>
                        <p>$6.770</p>
                        <p>40% off</p>
                        <h3>Cafetera</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/public/images/img-macbook-pro-2019.jpg" alt="">
                    </div>
                    <div>
                        
                        <p>$230.000</p>
                        <p>20% off</p> 
                        <h3>MacBook Pro 2019</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="">
                    </div>
                    <div>
                        
                        <p>$70.500</p>
                        <p>10% off</p> 
                        <h3>Sasmung galaxy s10</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/public/images/img-tv-samsung-smart.jpg" alt="">
                    </div>
                    <div>
                        <p>$23.200</p>
                        <p>5% off</p> 
                        <h3>SmartTv Samsung 43"</h3>
                    </div>
                </div>
        </div>
        
    </main>
    <footer>
        <div>
            <div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <h3>Envío gratis desde $ 2.500o</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <p>
                    Copyright © 1999-2020 MercadoLiebre S.R.L.
                </p>
            </div>
            

        </div>
    </footer>
</body>
</html>