<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleproducto.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Pagina Web Detalle de Producto</title>
</head>
<body>
    <section class="header-banner">
        <b>Registrarse/Iniciar Sesion</b>
    </section>
    <header>
        <div class="logo">
            <i class="fas fa-bars"></i>
            <i class="fas fa-solid fa-heart"></i>
        </div>
        <div class="img">
            <img src="img/mob-logo.svg" alt="">
        </div>
        <div class="login">
            <i class="fas fa-regular fa-user icon-login"></i>
            <i class="fas fa-solid fa-cart-arrow-down"></i>
        </div>
        <div class="contenero-textos"></div>
    </header>
    <hr>
<main>
        <section>
            <div>
                <nav>
                    <a href="#">Inicio ></a>
                    <a href="#"> Categorias></a>
                    <a href="#"> Indumentaria> </a>
                    <a href="#"> Buzos </a>
                </nav>
                <div>
                    <h1>Producto</h1>
                    <span>$8,999</span>
                </div>
                <article>
                    <img class= "imagen" src="../img/buzo.jpg" alt="Buzo Boca Juniors">
                </article>
            </div>
        </section>
</main>
<hr>
<footer>
<section class="footer">
    <div class="column1"> 
        <p>Métodos de Pago</p>
        <p>Términos y Condiciones</p>
        <p>Tiendas</p>
        <i class="fas fa-solid fa-location-arrow"></i>
        <p>Ver todas las Tiendas</p>
    </div>
    <div class="colum2">
        <p>Ayuda</p>
        <p>Cambios y Devoluciones</p>
        <p>Seguimientos de Pedidos</p>
        <p>Trabja con Nosotros</p>
    </div>
    <div class="colum3">
        <p>NEWSLETTER</p>
        <p>Suscribite y recibe correos personalizados con tus intereses</p>
        <p>Tiendas</p>
        <div>
            <input type="text" width="200px" placeholder="email@email.com" >
            <div class="search">
                <a href=""><i class='bx bx-search-alt-2'></i></a>
        </div>
    </div>
</section>
</body>
</html>