<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleproducto.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <section class="header-banner">
        <b>Registrarse/Iniciar Sesion</b>
    </section>
    <header>
        <div class="logo">
            <i class="fas fa-bars"></i>
            <i class="fas fa-solid fa-heart"></i>
        </div>
        <div class="img">
            <img src="img/mob-logo.svg" alt="">
        </div>
        <div class="login">
            <i class="fas fa-regular fa-user icon-login"></i>
            <i class="fas fa-solid fa-cart-arrow-down"></i>
        </div>
    </header>
    <hr>
    <main>
        <section>
            <div>
                <h1></h1>
            </div>
        </section>
    </main>
<hr>
<footer>
    <div class="footer">
        <div class="items">
            <div class="iconos">
                <i class="fas fa-solid fa-credit-card"></i>
            </div>
    <div>
        <div>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="iconos">
            <i class="fas fa-solid fa-gift"></i>
        </div>
        <div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="iconos">
            <i class="fas fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
    </div>
    <div>
        <h6>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </h6>
    </div>
</body>
</html>