<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleproducto.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/1aec321a0b.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Pagina Web Detalle de Producto</title>
</head>
<body>
    <header> 
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="logo">
        <img src="img/mob-logo.svg"  >
        </div>

        <div class="login">
            <i class="fas fa-solid fa-magnifying-glass"></i>
            <i class="fas fa-solid fa-user"></i>
            <a href="carrito.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </header>

<main id="maincontent">
    <section>
            <div>
                <nav>
                    <ul class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li>Buzos</li>
                    </ul>
                </nav>
            </div>
            <div>
                <div>
                    <img class= "imagen" src="../img/camisetaCABJ.jpg" alt="Camiseta Boca Juniors">
                </div>
                <div>
                    <h1>CAMISETA TITULAR OFICIAL BOCA JUNIORS 21/22</h1><br>
                </div>
                <div class="columnprices">
                    <span class="prices">
                        <span>$7.699,00</span>
                        <span class="saving"> 30% OFF </span>
                        <span class="oldprice">$10.999,00</span>
                    </span>
                </div>
                <hr class="separador">
            </div>
            <div class="column-size">
                <div><h6>TALLE</h6></div>
                <br>
                <div>
                    <ul class="atributos">
                        <li class="atributos-sizes">XS</li>
                        <li class="atributos-sizes">S</li>
                        <li class="atributos-sizes">M</li>
                        <li class="atributos-sizes">L</li>
                        <li class="atributos-sizes">XL</li>
                    </ul>
                </div>
            </div>
            <hr class="separador">
            <div></div>
            <hr class="separador">
            <div >
                <h4>Descripcion</h4>
                <p>Género: Hombre</p>
                <p>Adecuado para: Entrenamiento.</p>
                <p>Material: Poliéster reciclado.</p>
                <p>Capucha: Sin Capucha</p>
                <p>Abertura: Con Cierre</p>
                <p>Cuello: Alto</p>
                <p>Bolsillo: Sin Bolsillo</p>
                <p>Estilo: Con Logo</p>
                <p>Garantía: Contra defecto de fabricación.</p>
                <p>Origen: Importado</p>
                <p>Marca: adidas</p>
            </div>
    </section>
</main>
<hr>
<footer>
    <div>
        <ul>
            <li><a href="">Aviso de privacidad</a></li>
            <li><a href="">Terminos Y Condiciones</a></li>
            <li><a href="">Nuestros Datos</a></li>
        </ul>
    </div>
    <div>
        <p>© 2022 Sportix Argentina</p>
    </div>
</footer>

</body>
</html>