<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Home Proyecto</title>
</head>

<body>
    <header><div class="nav">
        <a href="" class="enlaces">Iniciar Sesion/</a>
        <a href="" class="enlaces">Registrarse</a>
    </div>
  
<div>
    <img src="img/mob-logo.svg" class="logo" >
</div>
<div> 
    <section class="copete">
        <h2 class="txtCopete1">FLASH</h2>
        <h2 class="txtCopete2">NIGHT</h2>

    </section>
</div>
</header>
    
    
</body>
</html>