<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/1aec321a0b.js" crossorigin="anonymous"></script>
    <title>Sportix Página Oficial</title>
</head>

<body>
    <header> 
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <a href=""><div class="logo">
        <img src="img/mob-logo.svg">
        </div></a>

        <div class="login">
            <a href=""><i class="fas fa-solid fa-magnifying-glass"></i></a>
            <a href=""><i class="fas fa-solid fa-user"></i></a>
            <a href="carrito.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </header>

    <main>
        <section> 
            <div class="barraEnvio">Con tu compra superior a $20.000 tenes envio gratis</div>
        </section>
       
        <section class="copete">
            <div id="extra20">
                -20% EXTRA
            </div>
            <div id="guantes">
                EN GUANTES Y ROPA DE ARQUERO
            </div>
           

        </section>
        
        <div class="paraQuien"> ¿PARA QUIEN COMPRAS?</div>

        <section class="glassHome">
           <a href=""><img src="img/adiWoman.jpg" class="adiWoman"></a> 
           <a href=""><img src="img/nikeMan.jpg" class="nikeMan"></a> 
           <a href=""><img src="img/adiKid.jpg" class="adiKid"></a> 
        </section>

        <hr class="separador"> 
               <section>
                 <h3>OFERTAS</h3>
                     <section class="ofertas">
                    <div class="boxOfertas">
                    <a href=""><img src="img/barcaAlt.jpg" class="imgOferta"></a> 
                    <span class="prices">
                    <div>$7.699,00</div>
                    <span class="oldprice">$10.999,00</span>
                    <span class="saving"> 30% OFF </span>
                    </span>
                </div>
                    <div class="boxOfertas">
                        <a href=""><img src="img/chandalJuve.jpg" class="imgOferta"></a>
                        <span class="prices">
                        <div>$7.699,00</div>
                        <span class="oldprice">$10.999,00</span>
                        <span class="saving"> 30% OFF </span>
                    </div>
            
                    <div class="boxOfertas">
                        <a href=""><img src="img/botAdiNino.jpg" class="imgOferta"></a>
                        <span class="prices">
                        <div>$7.699,00</div>
                        <span class="oldprice">$10.999,00</span>
                        <span class="saving"> 30% OFF </span>
                    </div>
            
                    <div class="boxOfertas">
                        <a href=""><img src="img/camperaBoca.jpg" class="imgOferta">
                        <span class="prices">
                        <div>$7.699,00</div>
                        <span class="oldprice">$10.999,00</span>
                        <span class="saving"> 30% OFF </span></a>
                </section>  
            
        </section>
        <hr class="separador">       
        
        <section class="historias">
            <div class="historiasTxt">
                <h2>HISTORIAS, MODA Y ROPA DEPORTIVA, DESDE 2022.</h2>
                <p>
                    Sportix vende ropa de entrenamiento para deportistas de todo tipo. Creadores que adoran cambiar las reglas del juego. Desafiar las convenciones. Romper las normas y definir nuevas. Y volverlas a romper. Ofrecemos ropa deportiva a equipos y a deportistas para antes del partido. Para que no pierdan la concentración. Para deportes desde bajo impacto hasta impacto máximo. Diseñamos, innovamos y repetimos. Probamos nuestras nuevas tecnologías en acción. En el campo, en la pista y en la cancha. La ropa deportiva retro inspira nuevas tendencias de moda urbana. Los modelos deportivos clásicos vuelven a la vida, como la Stan Smith y las Jordan 1. Ahora en todas las calles y en los escenarios más destacados. 
                </p>
            </div>
            <div class="novedad" ><a href="" color="black"> <img src="img/diamondEdge.jpg" class="imgNovedad"> 
                <h2> Nuevo Adidas Diamond Edge Pack </h2>
                
                <p> Les presentamos el nuevo pack de adidas para este final de temporada. Los tres silos de la marca alemana se tiñen de blanco, combinado con azul para los detalles. Clase y buen gusto, eso es lo que nos trae adidas en esta preciosa colección. </p>
            </a></div>
        </section>   
    </main>
     <footer>
                <div>
                    <ul>
                        <li><a href="">Aviso de privacidad</a></li>
                        <li><a href="">Terminos Y Condiciones</a></li>
                        <li><a href="">Nuestros Datos</a></li>
                    </ul>
                </div>
                <div class="footFixed">
                    <p>© 2022 Sportix Argentina</p>
                </div>
            </footer>
</body>
</html>