<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/1aec321a0b.js" crossorigin="anonymous"></script>
    <title>Home Proyecto</title>
</head>

<body>
    <header> 
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="logo">
        <img src="img/mob-logo.svg"  >
        </div>

        <div class="login">
            <i class="fas fa-solid fa-magnifying-glass"></i>
            <i class="fas fa-solid fa-user"></i>
            <a href="carrito.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </header>

    <main>
        <div class="barraEnvio">Con tu compra superior a $20.000 tenes envio gratis</div>
        <section class="copete">
            <div id="extra20">
                -20% EXTRA
            </div>
            <div id="guantes">
                EN GUANTES Y ROPA DE ARQUERO
            </div>
           

        </section>
        
        <div class="paraQuien"> ¿PARA QUIEN COMPRAS?</div>

        <section class="glassHome">
            <img src="img/adiWoman.jpg" class="adiWoman">
            <img src="img/nikeMan.jpg" class="nikeMan">
            <img src="img/adiKid.jpg" class="adiKid">
        </section>

            <h3>OFERTAS
            </h3>
        
        <section class="ofertas"> 
            <img src="img/barcaAlt.jpg" class="imgOferta">
            <img src="img/chandalJuve.jpg" class="imgOferta">
            <img src="img/botAdiNino.jpg" class="imgOferta">
            <img src="img/camperaBoca.jpg" class="imgOferta">
        </section>

        <footer>
            <h4 >Tienda</h4>
            <div class="footer">
            <p> Aviso legal </p>
            <p> Política de cookies </p>
            <p> Politica de privacidad </p>
            <p> Metodos de pago </p>
            </div>
            
            <h4>Pedidos</h4>
            <p> Cambios y devoluciones </p>
            <p>  </p>
            <p>  </p>
            <p>  </p>

        </footer>


    </main>
    
    
</body>
</html>