<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Sportix | LOGIN</title>
</head>
<body>
    <header>
        <div class="login-dektop">
            <button>Registarse </button>
            <button>Inicio Sesion</button>
        </div>
        
        <div class="desktop">
            <div class="img-desktop">
                <img src="img/mob-logo.svg" alt="">
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="">Adultos</a></li>
                    <li><a href="">Niños</a></li>
                    <li><a href="">Marcas</a></li>
                    <li><a href="">Colecciones</a></li>
                    <li><a href="">Ofertas</a></li>
                </ul>
            </nav>
            <div class="search">
                <div>
                    <input type="text" placeholder="&#xf00e search">
                </div>
                
                <div class="iconos-desktop">
           
                    <i class="fas fa-regular fa-user icon-login"></i>
                    <i class="fas fa-regular fa-user icon-login"></i>
                </div>
            </div>

            
            
        </div>
        <div class="logo">
            <i class="fas fa-bars"></i>
        </div>
        <div class="img-mobile">
            <img src="img/mob-logo.svg" alt="">
        </div>
        <div class="login">
           
            <i class="fas fa-regular fa-user icon-login"></i>
            <i class="fas fa-regular fa-user icon-login"></i>
        </div>
    </header>

    <main>
        <section class="diseño-form">
            <h4>Formulario Registro</h4>
            <input class="selector" type="text" name="nombres" id="nombres" placeholder="Nombre de Usuario">
            <input class="selector" type="password" name="password" id="password" placeholder="Contraseña">
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
            <input class="send" type="submit" value="ENVIAR">
            <p><a href="#">¿Ya tengo Cuenta?</a></p>
          </section>
    </main>
    <footer>
        <div>
            <ul>
                <li><a href="">Aviso de privacidad</a></li>
                <li><a href="">Terminos Y Condiciones</a></li>
                <li><a href="">Nuestros Datos</a></li>
            </ul>
        </div>
        <div>
            <p>© 2022 Sportix Argentina</p>
        </div>
    </footer>
    
</body>
</html>