<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetail.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/1aec321a0b.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Detalle de Producto</title>
</head>
<body>
    <header> 
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="logo">
        <img src="img/mob-logo.svg"  >
        </div>

        <div class="login">
            <i class="fas fa-solid fa-magnifying-glass"></i>
            <i class="fas fa-solid fa-user"></i>
            <a href="carrito.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </header>

<main id="maincontent">
    <section>
            <div>
                <nav>
                    <ul class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li>Buzos</li>
                    </ul>
                </nav>
            </div>
            <div>
                <div>
                    <img class= "imagen" src="../img/camisetaCABJ.jpg" alt="Camiseta Boca Juniors">
                </div>
                <div>
                    <h1>CAMISETA TITULAR OFICIAL BOCA JUNIORS 21/22</h1><br>
                </div>
                <div class="columnprices">
                    <span class="prices">
                        <span>$7.699,00</span>
                        <span class="oldprice">$10.999,00</span>
                        <span class="saving"> 30% OFF </span>
                    </span>
                </div>
                <hr class="separador">
            </div>
            <div class="column-size">
                <div><h6>TALLE</h6></div>
                <br>
                <div>
                    <ul class="atributos">
                        <li class="atributos-sizes">XS</li>
                        <li class="atributos-sizes">S</li>
                        <li class="atributos-sizes">M</li>
                        <li class="atributos-sizes">L</li>
                        <li class="atributos-sizes">XL</li>
                    </ul>
                </div>
            </div>
            <hr class="separador">
            <div class="agregar">
                <div class="quantity">
                    <input type="number" min="1" value="1">
                </div>
                <div>
                    <button class="comprar">Agregar al Carrito</button>
                    <i class="fas fa-light fa-heart-circle-plus"></i>
                </div>
            </div>
            <hr class="separador">
            <div class="descripcion">
                <h4>DESCRIPCION</h4>
                <br>
                <p>La camiseta adidas de Boca Juniors edición Visitante 2021 se inspira en el diseño retro de los 80's. Su tejido suave absorbe el sudor para mantenerte cómodo y seguro en el gimnasio o alentando en La Bombonera. Lucí el escudo tejido del Xeneixe que demuestra tu amor por los colores.</p>
                <br>
                <ul>
                    <li>Género: Hombre</li>
                    <li>Adecuado para: Entrenamiento.</li>
                    <li>Material: Poliéster reciclado.</li>
                    <li>Cuello: Redondo</li>
                    <li>Manga: Corta</li>
                    <li>Calce: Regular</li>
                    <li>Equipo: Boca Juniors</li>
                    <li>Escudo: Bordado</li>
                    <li>Garantía: Contra defecto de fabricación.</li>
                    <li>Origen: Nacional</li>
                    <li>Marca: Adidas</li>
                </ul>

            </div>
            <div>
                <h4>RECOMENDADO PARA VOS</h4>
                <div class="recomendaciones">
                    <div>
                        <img class= "imagenesrecom" src="../img/buzo.jpg" alt="Buzo Recomendacion">
                        <img class= "imagenesrecom"src="../img/barcaAlt.jpg" alt="Remera Barcelona Recomendacion">
                        <img class= "imagenesrecom"src="../img/chandalJuve.jpg" alt="Recomendacion">
                    </div>    
                </div>
            </div>
    </section>
</main>
<hr>
<footer>
    <div>
        <ul>
            <li><a href="">Aviso de privacidad</a></li>
            <li><a href="">Terminos Y Condiciones</a></li>
            <li><a href="">Nuestros Datos</a></li>
        </ul>
    </div>
    <div>
        <p>© 2022 Sportix Argentina</p>
    </div>
</footer>

</body>
</html>