<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetail.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/1aec321a0b.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Detalle de Producto</title>
</head>
<body>
    <header> 
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
            <a href="">
        <div class="logo">
            <img src="img/mob-logo.svg">
        </div></a>
        <nav class="nav">
            <ul>
                <li><a href="">Adultos</a></li>
                <li><a href="">Niños</a></li>
                <li><a href="">Marcas</a></li>
                <li><a href="">Colecciones</a></li>
                <li><a href="">Ofertas</a></li>
            </ul>
        </nav>
        <div class="login">
            <a href=""><i class="fas fa-solid fa-magnifying-glass"></i></a>
            <a href=""><i class="fas fa-solid fa-user"></i></a>
            <a href="carritoDeCompras"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>

    </header>

<main id="maincontent">
    <section>
            <div>
                <nav>
                    <ul class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li>Buzos</li>
                    </ul>
                </nav>
            </div>
    </section>
    <section> 
            <div  class="detail"> 
                <div>
                    <img class= "imagen" src="../img/camisetaCABJ.jpg" alt="Camiseta Boca Juniors">
                </div>
                <div>
                    <div>
                        <h1>CAMISETA TITULAR OFICIAL BOCA JUNIORS 21/22</h1><br>
                    </div>
                    <div class="columnprices">
                        <span class="prices">
                            <span>$7.699,00</span>
                            <span class="oldprice">$10.999,00</span>
                            <span class="saving"> 30% OFF </span>
                        </span>
                    </div>
                    <hr class="separador">
                
                    <div class="column-size">
                    <label>TALLE</label>
                    <div>
                        <ul class="atributos">
                            <li class="atributos-sizes">XS</li>
                            <li class="atributos-sizes">S</li>
                            <li class="atributos-sizes">M</li>
                            <li class="atributos-sizes">L</li>
                            <li class="atributos-sizes">XL</li>
                        </ul>
                    </div>
                    </div>
                    <hr class="separador">
                    <div class="agregar">
                        <div class="quantity">
                            <input class="input-qty" type="number" min="1" value="1">
                        </div>
                        <div class="container-comprar">
                            <button class="comprar">Agregar al Carrito</button>
                            <i class="fas fa-light fa-heart-circle-plus"></i>
                        </div>
                    </div>
                </div>
    </section>
    <hr class="separador">
    <section>
            <div class="descripcion-producto">
                <h4>DESCRIPCION</h4>
                <br>
                <p>La camiseta adidas de Boca Juniors edición Visitante 2021 se inspira en el diseño retro de los 80's. Su tejido suave absorbe el sudor para mantenerte cómodo y seguro en el gimnasio o alentando en La Bombonera. Lucí el escudo tejido del Xeneixe que demuestra tu amor por los colores.</p>
                <br>
                <ul>
                    <li>Género: Hombre</li>
                    <li>Adecuado para: Entrenamiento.</li>
                    <li>Material: Poliéster reciclado.</li>
                    <li>Cuello: Redondo</li>
                    <li>Manga: Corta</li>
                    <li>Calce: Regular</li>
                    <li>Equipo: Boca Juniors</li>
                    <li>Escudo: Bordado</li>
                    <li>Garantía: Contra defecto de fabricación.</li>
                    <li>Origen: Nacional</li>
                    <li>Marca: Adidas</li>
                </ul>
            </div>
    </section>
    <hr class="separador">
    <section>
            <div>
                <section class="Container-Opps">  
                    <h3>RECOMENDANDO PARA VOS</h3>
                    <section class="Opps">
                       <div class="boxOpps">
                            <a href=""><img src="img/Short-Nike.jpg" class="imgRecomendado"></a> 
                            <span class="newPrice">
                            <div>$4.599,00</div>
                            <span class="priorPrice">$9.199,00</span>
                            <span class="discuount"> 50% OFF </span>
                            </span>
                   </div>
                       <div class="boxOpps">
                           <a href=""><img src="img/Guantes-Arquero-Feline.jpg" class="imgRecomendado"></a>
                           <span class="newPrice">
                           <div>$8.799,00</div>
                           <span class="priorPrice">$10.999,00</span>
                           <span class="discuount"> 20% OFF </span>
                       </div>
               
                       <div class="boxOpps">
                           <a href=""><img src="img/Botines-Nike-Phantom.jpg" class="imgRecomendado"></a>
                           <span class="newPrice">
                           <div>$9.499,00</div>
                           <span class="priorPrice">$10.923,00</span>
                           <span class="discuount"> 15% OFF </span>
                       </div>
                   </section> 
                </section>  
            </div>
    </section>
</main>
<hr>
<footer>
    <div>
        <ul>
            <li><a href="">Aviso de privacidad</a></li>
            <li><a href="">Terminos Y Condiciones</a></li>
            <li><a href="">Nuestros Datos</a></li>
        </ul>
    </div>
    <div>
        <p>© 2022 Sportix Argentina</p>
    </div>
</footer>

</body>
</html>