<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Sportix | Carrito de compras</title>
</head>
<body>
    <header>
        <div class="login-dektop">
            <button>Registarse </button>
            <button>Inicio Sesion</button>
        </div>
        
        <div class="desktop">
            <div class="img-desktop">
                <img src="img/mob-logo.svg" alt="">
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="">Adultos</a></li>
                    <li><a href="">Niños</a></li>
                    <li><a href="">Marcas</a></li>
                    <li><a href="">Colecciones</a></li>
                    <li><a href="">Ofertas</a></li>
                </ul>
            </nav>
            <div class="search">
                <div>
                    <input type="text" placeholder="&#xf00e search">
                </div>
                
                <div class="iconos-desktop">
           
                    <i class="fas fa-regular fa-user icon-login"></i>
                    <i class="fas fa-regular fa-user icon-login"></i>
                </div>
            </div>

            
            
        </div>
        <div class="logo">
            <i class="fas fa-bars"></i>
        </div>
        <div class="img-mobile">
            <img src="img/mob-logo.svg" alt="">
        </div>
        <div class="login">
           
            <i class="fas fa-regular fa-user icon-login"></i>
            <i class="fas fa-regular fa-user icon-login"></i>
        </div>
    </header>

    <main>
        <div class="carrito">
            <h1>Tu carrito</h1>
            <p>Total(3 productos)</p>
            <p>$28.000</p>
            
            <hr>
        </div>
        
        <section class="informacion">
            <div class="div1">
                <div class="descripcion">
                    <div class="img">
                        <img src="img/buzo.jpg" alt="">
                    </div>
                    <div class="info">
                        <h1>CAMISETA TITULAR OFICIAL BOCA JUNIORS 21/22
                        </h1>
                        <p>Cantidad:1</p>
                        <p>Color:Negro</p>
                        <p>Tamaño: S</p>
                        <p>$15.999,00:</p>
                        <button class="btn first">Eliminar</button>
                    </div>
                </div>
                <div class="descripcion">
                    <div class="img">
                        <img src="img/camiseta.jpg" alt="">
                    </div>
                    <div class="info">
                        <h1>CAMPERA DE INVIERNO BOCA JUNIOR</h1>
                        <p>Cantidad:1</p>
                        <p>Color:Negro</p>
                        <p>Tamaño: S</p>
                        <p>$15.999,00:</p>
                        <button>Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="resumen">
                    <h1>Resumen del Pedido</h1>
                    <div>
                        <span>Subtotal</span>
                        <span>$12.499,00</span>
                    </div>
                    <div>
                        <span>Envio</span>
                        <span>$1.499,00</span>
                    </div>
                    <div>
                        <span>Retenciones</span>
                        <span>$700.00</span>
                    </div>
                    
                    <div>
                        
                        <span>Total</span>
                        <span>$1.500,00</span>
                    </div>
                    <div>
                        <button>Ir a pagar <span><i class="fa fa-solid fa-arrow-right"></i></span></button>
                    </div>
                
                </div>
                <div class="pagos">
                    <div>
                        <h1>Opciones de pago</h1>
                    </div>
                    <div class="tarjetas">
                        <!-- <i class="fa fa-solid fa-credit-card"></i>
                        <i class="fa fa-solid fa-credit-card"></i>
                        <i class="fa fa-solid fa-credit-card"></i>
                        <i class="fa fa-solid fa-credit-card"></i>
                        <i class="fa fa-solid fa-credit-card"></i> -->
                        <img src="img/tarjetas.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            
            
        </section>
    </main>
    <footer>
        <div>
            <ul>
                <li><a href="">Aviso de privacidad</a></li>
                <li><a href="">Terminos Y Condiciones</a></li>
                <li><a href="">Nuestros Datos</a></li>
            </ul>
        </div>
        <div>
            <p>© 2022 Sportix Argentina</p>
        </div>
    </footer>
    
</body>
</html>