<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleRegister.css">
    <script src="https://kit.fontawesome.com/1aec321a0b.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/jpg" href="img/mob-logo.svg">
    <title>Sportix | Registro </title>


</head>
<body>
    <!-- <header>
        <div class="desktop">
            <div class="img-desktop">
                <img src="img/mob-logo.svg" alt="">
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="">Adultos</a></li>
                    <li><a href="">Niños</a></li>
                    <li><a href="">Marcas</a></li>
                    <li><a href="">Colecciones</a></li>
                    <li><a href="">Ofertas</a></li>
                </ul>
            </nav>
            <div class="search">
                <div>
                    <input type="text" placeholder="&#xf00e search">
                </div>
                
                <div class="iconos-desktop">
           
                    <i class="fas fa-regular fa-user icon-login"></i>
                    <i class="fas fa-regular fa-user icon-login"></i>
                </div>
            </div>

        </div>
        <div class="logo">
            <i class="fas fa-bars"></i>
        </div>
        <div class="img-mobile">
            <img src="img/mob-logo.svg" alt="">
        </div>
        <div class="login">
           
            <i class="fas fa-regular fa-user icon-login"></i>
            <i class="fas fa-regular fa-user icon-login"></i>
        </div>
    </header> -->
    <header> 
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
            <a href="">
        <div class="logo">
            <img src="img/mob-logo.svg">
        </div></a>
        <nav class="nav">
            <ul>
                <li><a href="">Adultos</a></li>
                <li><a href="">Niños</a></li>
                <li><a href="">Marcas</a></li>
                <li><a href="">Colecciones</a></li>
                <li><a href="">Ofertas</a></li>
            </ul>
        </nav>
        <div class="login">
            <a href=""><i class="fas fa-solid fa-magnifying-glass"></i></a>
            <a href=""><i class="fas fa-solid fa-user"></i></a>
            <a href="carritoDeCompras"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>

    </header>

    <main>
        <section>
            <div class="todo">
                <div class="formulario">
                    <form action="post">
                        <input class="controls" type="text" placeholder="Nombre" name="nombre">
                        <input class="controls"type="text" placeholder="Apellido"  name="apellido">
                        <input class="controls"type="email" placeholder="Correo Electronico"  name="correo">
                        <input class="controls"type="password" placeholder="contraseña"  name="correo" >
                        <input class="controls" type="password" placeholder="constraseña"  name="correo">
                        <input class="controls" type="date" placeholder="DD-MM-AAAA"  name="nacimiento">
                        <input class="controls" type="text" name="direccion" placeholder="Direccion">
                        <input class="controls" type="number" placeholder="Telefono"  name="numero">
                    </form>
                </div>
                <div class="acceder">
                    <div>
                        <h3>Hacete miembro</h3>
                        <p>Unite a nuestra comunidad con tu perfil obtendras acceso anticipádo a los mejores porductos deportivos</p>
                    </div>
                </div>
            </div>
               
            <div class="acuerdos">
                
                <div>
                    <input type="checkbox" name="my-checkbox" id="opt-in">
                    <label for="opt-in">Registrate para recibir coreos electronicos del sitio con actualizacopmes de productos, ofertas y beneficios como miembros</label>
                  </div>

                <div>
                    <button>Unirse</button>
                </div>
                <span>Ya sos miembro?<a href="">Iniciar Sesion</a></span>
            </div>
        </section>
    </main>
</body>
</html>